@media only screen and (max-width: 610px) {
	html, body {
		display: flex;
	    justify-content: center;
	    align-items: center;
	}

	.if-mobile {
		display: block !important;
	}

	.range {
		min-width: none !important;
		width: 360px !important;
	}

	.shell-container,
	.shell,
	.shell-buttons {
		min-width: 360px !important;
		width: 360px !important;
	}

	.shell-container {
		margin-top: 75px !important;
	}

	.shell-buttons {
		justify-content: space-evenly !important;
	}

	.shell {
		height: 400px !important;
	}

	#shell-screen {
		&::-webkit-scrollbar {
			width: 2vw !important;
		}
	}
}