@mixin flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes flicker {
    
	0%, 18%, 22%, 25%, 53%, 57%, 100% {
  
		text-shadow: (
			0 0 4px #fff,
			0 0 10px #fff,
			0 0 38px #f09,
			0 0 73px #f09,
			0 0 80px #f09,
		);
	}
	
	20%, 24%, 55% {        
		text-shadow: none;
	}    
}

/*@keyframes pulsate {

	100% {
		text-shadow: (
			0 0 4px #fff,
			0 0 11px #fff,
			0 0 22px #f09,
			0 0 44px #f09,
			0 0 50px #f09,
		);
	}
	
	0% {
		text-shadow: (
			0 0 4px #fff,
			0 0 13px #fff,
			0 0 28px #f09,
			0 0 55px #f09,
			0 0 70px #f09,
		);
	}
} */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	background: rgb(44, 0, 30);
}

body {
	width: 100%;
	height: 80%;
	min-height: 1140px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;

	.font-style {
		font-family: 'Vibur', cursive;
		color: white;
		font-size: 22px;
		display: inline-block;
		text-align: center;
	}

	.if-mobile {
		display: none;
	}

	button {
		font-family: 'Vibur', cursive;
		font-size: 20px;
		border-radius: 15px;
		background-color: #f09;
		color: white;
		border: none;
		box-shadow: (
			0 0 4px #fff,
			0 0 20px #fff,
			0 0 28px #f09,
		);

		&:active {
			transform: scale(0.9);
		}
	}

	.head {
		width: 100%;
		height: 50%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-direction: column;
		
		.err-cont {
			position: relative;
			width: auto;
			height: 30px;
		}

		.neon-container {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			height: 50%;
			width: 100%;
			margin-bottom: 30px;

			.neon {
				font-family: 'Vibur', cursive;
				color: white;
				letter-spacing: 3px;
			}
	
			h1 {
				font-size: 100px;
				animation: flicker 1.5s infinite alternate;
			}
		
			h3 {
				font-size: 25px;
				text-shadow: (		
					0 0 4px #fff,
					0 0 11px #fff,
					0 0 22px #f09,
					0 0 44px #f09,
				);
				text-align: center;
			}
		}

		.range {
			font-family: 'Vibur', cursive;
			display: flex;
			justify-content: space-evenly;
			align-items: center;
			flex-direction: column;
			height: auto;
			max-height: 60%;
			width: 550px;

			input {
				border: none;
				outline: none;
				margin: 10px !important;
			}
			input[type=number] {
				font-family: 'Vibur', cursive;
				padding: 0 15px;
				font-size: 20px;
				width: 310px;
				height: 40px;
				border-radius: 20px;
				box-shadow: 0 0 15px #fff;
				background-color: #282d35;
				color: white;

				-moz-appearance: textfield; // Hide arrows on Firefox

				// Hide arrows on Chrome, Safari, Edge & Opera
				&::-webkit-outer-spin-button,
				&::-webkit-inner-spin-button {
					-webkit-appearance: none;
					margin: 0;
				}
			}
		}
	}

	#startBtn, #confirmBtn, #invertBtn, #rulesBtn {
		display: block;
		width: 6rem;
		height: 30px;
		margin: 20px 0;
	}
	#startBtn {
		margin-right: 30px;
	}

	#rulesBtn {
		margin-left: auto;
	}

	.shell-container {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		width: 100%;
		height: auto;
		margin-top: 50px;

		.shell-buttons {
			width: 800px;
			display: flex; 
			justify-content: flex-start;

			.modal {
				display: none; 
				position: fixed; 
				z-index: 2;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%; 
				overflow: auto;
				background-color: rgb(0,0,0);
				background-color: rgba(0, 0, 0, 0.8);

				.modal-content {
					font-family: 'Glory', sans-serif;
					font-size: 25px;
					font-weight: bold;
					color: #f09;
					margin: 15% auto;
					padding: 20px;
					border: 1px solid #f09;
					width: 80%; 
					box-shadow: (
						0 0 4px #fff,
						0 0 10px #fff,
						0 0 38px #f09,
						0 0 48px #f09,
					);
				}

				#closeBtn {
					display: flex;
					justify-content: center;
					align-items: center;
					color: #fff;
					float: right;
					font-size: 37px;
					font-weight: bold;
					width: 2rem;
					height: 2rem;

					&:hover,
					&:focus {
					color: black;
					text-decoration: none;
					cursor: pointer;
					}
				}
			}

		}

		.shell {
			display: flex;
			justify-content: center;
			align-items: center;
			margin-top: auto;
			min-width: 800px;
			width: auto;
			height: 430px;
			color: white;
			background-color: #282d35;
			border-radius: 12px;
			overflow: hidden;
	
			.toolbar {
				height: 100%;
				width: 99%;
				padding: 7px;
				.dot {	
					height: 20px;
					width: 20px;
					margin: 0 5px 5px 0;
					border-radius: 50%;
					display: inline-block;
					&:hover {
						cursor: pointer;
						transform: scale(1.1);
					}
					&:active {
						transform: scale(1);
					}
				}
		
				.red {
					background-color: #ff5f58;
				}
				.yellow {
					background-color: #ffbd2e;
				}
				.green {
					background-color: #18c132;
				}
			}
		
			#shell-screen {
				padding: 0 5px;
				letter-spacing: 1px;
				width: 100%;
				height: 93%;
				color: white;
				background-color: #282d35;
				overflow: auto;
				
				&::-webkit-scrollbar {
					width: 1vw;
				}
				&::-webkit-scrollbar-thumb {
					background-color: rgb(90, 90, 90);

					&:hover {
						background-color: rgba(100, 100, 100, 0.9);
					}
				}
				&::-webkit-scrollbar-track {
					background-color: rgb(140, 140, 140);
				}

				.shell-text{
					font-size: 1.4em;
					letter-spacing: 2px;
				}
				.shell-text::before{
					content: "> ";
				}
				  
				.shell-text:last-child:after{
					content: "|";
					margin-left: 5px;
					animation: blink 500ms linear infinite alternate;
				}
			}
		}
	}
}
	
