@import url(mobile.scss);
@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes flicker {
  0%, 18%, 22%, 25%, 53%, 57%, 100% {
    text-shadow: 0 0 4px #fff, 0 0 10px #fff, 0 0 38px #f09, 0 0 73px #f09, 0 0 80px #f09;
  }
  20%, 24%, 55% {
    text-shadow: none;
  }
}

@keyframes flicker {
  0%, 18%, 22%, 25%, 53%, 57%, 100% {
    text-shadow: 0 0 4px #fff, 0 0 10px #fff, 0 0 38px #f09, 0 0 73px #f09, 0 0 80px #f09;
  }
  20%, 24%, 55% {
    text-shadow: none;
  }
}

@-webkit-keyframes pulsate {
  100% {
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 22px #f09, 0 0 44px #f09, 0 0 50px #f09;
  }
  0% {
    text-shadow: 0 0 4px #fff, 0 0 13px #fff, 0 0 28px #f09, 0 0 55px #f09, 0 0 70px #f09;
  }
}

@keyframes pulsate {
  100% {
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 22px #f09, 0 0 44px #f09, 0 0 50px #f09;
  }
  0% {
    text-shadow: 0 0 4px #fff, 0 0 13px #fff, 0 0 28px #f09, 0 0 55px #f09, 0 0 70px #f09;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background: #2c001e;
}

body {
  width: 100%;
  height: 80%;
  min-height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .font-style {
  font-family: 'Vibur', cursive;
  color: white;
  font-size: 22px;
  display: inline-block;
  text-align: center;
}

body .if-mobile {
  display: none;
}

body button {
  font-family: 'Vibur', cursive;
  font-size: 20px;
  border-radius: 15px;
  background-color: #f09;
  color: white;
  -webkit-box-shadow: 0 0 25px #fff;
          box-shadow: 0 0 25px #fff;
}

body button:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

body .head {
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .head .err-cont {
  position: relative;
  width: auto;
  height: 30px;
}

body .head .neon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 50%;
  width: 100%;
  margin-bottom: 30px;
}

body .head .neon-container .neon {
  font-family: 'Vibur', cursive;
  color: white;
  letter-spacing: 3px;
}

body .head .neon-container h1 {
  font-size: 100px;
  -webkit-animation: flicker 1.5s infinite alternate;
          animation: flicker 1.5s infinite alternate;
}

body .head .neon-container h3 {
  font-size: 25px;
  -webkit-animation: pulsate 0.1s ease-in-out infinite alternate;
          animation: pulsate 0.1s ease-in-out infinite alternate;
  text-align: center;
}

body .head .range {
  font-family: 'Vibur', cursive;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  max-height: 60%;
  width: 550px;
}

body .head .range input {
  border: none;
  outline: none;
  margin: 10px !important;
}

body .head .range input[type=number] {
  font-family: 'Vibur', cursive;
  padding: 0 15px;
  font-size: 20px;
  width: 310px;
  height: 40px;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 15px #fff;
          box-shadow: 0 0 15px #fff;
  background-color: #282d35;
  color: white;
  -moz-appearance: textfield;
}

body .head .range input[type=number]::-webkit-outer-spin-button, body .head .range input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body #start, body #confirm, body #invert, body #rules {
  display: block;
  width: 6rem;
  height: 30px;
  margin: 20px 0;
}

body #start {
  margin-right: 30px;
}

body #rules {
  margin-left: auto;
}

body .shell-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: auto;
  margin-top: 50px;
}

body .shell-container .shell-button {
  width: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

body .shell-container .shell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: auto;
  min-width: 800px;
  min-height: 500px;
  color: white;
  background-color: #282d35;
  border-radius: 12px;
  overflow: hidden;
}

body .shell-container .shell .toolbar {
  height: 100%;
  width: 99%;
  padding: 5px;
}

body .shell-container .shell .toolbar .dot {
  height: 20px;
  width: 20px;
  margin-right: 5px;
  border-radius: 50%;
  display: inline-block;
}

body .shell-container .shell .toolbar .dot:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

body .shell-container .shell .toolbar .dot:active {
  -webkit-transform: scale(1);
          transform: scale(1);
}

body .shell-container .shell .toolbar .red {
  background-color: #ff5f58;
}

body .shell-container .shell .toolbar .yellow {
  background-color: #ffbd2e;
}

body .shell-container .shell .toolbar .green {
  background-color: #18c132;
}

body .shell-container .shell #shell-screen {
  margin-top: 10px;
  padding: 5px;
  letter-spacing: 1px;
  width: 100%;
  height: 100%;
  color: white;
  background-color: #282d35;
  overflow: hidden;
}

body .shell-container .shell #shell-screen .shell-text {
  font-size: 1.4em;
  letter-spacing: 2px;
}

body .shell-container .shell #shell-screen .shell-text::before {
  content: "> ";
}

body .shell-container .shell #shell-screen .shelk-screen div:after {
  content: "|";
  margin-left: 5px;
  -webkit-animation: blink 500ms linear infinite alternate;
          animation: blink 500ms linear infinite alternate;
}
/*# sourceMappingURL=style.css.map */