@import url(mobile.scss);

@mixin flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes flicker {
    
	0%, 18%, 22%, 25%, 53%, 57%, 100% {
  
		text-shadow:
		0 0 4px #fff,
		0 0 10px #fff,
		0 0 38px #f09,
		0 0 73px #f09,
		0 0 80px #f09,
	}
	
	20%, 24%, 55% {        
		text-shadow: none;
	}    
}

@keyframes pulsate {

	100% {
		text-shadow:
		0 0 4px #fff,
		0 0 11px #fff,
		0 0 22px #f09,
		0 0 44px #f09,
		0 0 50px #f09,
	}
	
	0% {
	  text-shadow:
	  0 0 4px #fff,
	  0 0 13px #fff,
	  0 0 28px #f09,
	  0 0 55px #f09,
	  0 0 70px #f09,
	}
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	background: rgb(44, 0, 30);
}

body {
	width: 100%;
	height: 80%;
	min-height: auto;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;

	.if-mobile {
		display: none;
	}

	button {
		font-family: 'Vibur', cursive;
		font-size: 20px;
		border-radius: 15px;
		background-color: #f09;
		color: white;
		box-shadow: 0 0 25px #fff;

		&:active {
			transform: scale(0.9);
		}
	}

	.head {
		width: 100%;
		height: 50%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-direction: column;

		.neon-container {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			height: 50%;
			width: 100%;
			margin-bottom: 30px;

			.neon {
				font-family: 'Vibur', cursive;
				color: white;
				letter-spacing: 3px;
			}
	
			h1 {
				font-size: 100px;
				animation: flicker 1.5s infinite alternate;
			}
		
			h3 {
				font-size: 25px;
				animation: pulsate 0.1s ease-in-out infinite alternate; 
				text-align: center;
			}
		}

		.range {
			font-family: 'Vibur', cursive;
			display: flex;
			justify-content: space-evenly;
			align-items: center;
			flex-direction: column;
			height: auto;
			max-height: 60%;
			width: 550px;

			input {
				border: none;
				outline: none;
				margin: 10px !important;
			}
			input[type=number] {
				font-family: 'Vibur', cursive;
				padding: 0 15px;
				font-size: 20px;
				width: 310px;
				height: 40px;
				border-radius: 20px;
				box-shadow: 0 0 15px #fff;
				background-color: #282d35;
				color: white;

				-moz-appearance: textfield; // Hide arrows on Firefox

				// Hide arrows on Chrome, Safari, Edge & Opera
				&::-webkit-outer-spin-button,
				&::-webkit-inner-spin-button {
					-webkit-appearance: none;
					margin: 0;
				}
			}
			#labelMin, #labelMax, #confirmed {
				font-family: 'Vibur', cursive;
				color: white;
				font-size: 22px;
				display: inline-block;
				text-align: center;
			}
		}
	}

	#start, #confirmMin, #confirmMax {
		display: block;
		width: 6rem;
		height: 30px;
		margin: 20px 0;
	}
	.shell-container {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		width: 100%;
		height: auto;
		margin-top: 80px;
	}
	.shell {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: auto;
		width: 50%;
		min-width: 800px;
		height: 500px;
		color: white;
		background-color: #282d35;
		border-radius: 12px;
		overflow: hidden;
	}

	.toolbar {
		height: 98%;
		width: 99%;
		padding: 5px;
		.dot {	
			height: 20px;
			width: 20px;
			margin-right: 5px;
			border-radius: 50%;
			display: inline-block;
			&:hover {
				cursor: pointer;
				transform: scale(1.1);
			}
			&:active {
				transform: scale(1);
			}
		}

		.red {
			background-color: #ff5f58;
		}
		.yellow {
			background-color: #ffbd2e;
		}
		.green {
			background-color: #18c132;


		}
	}

	#shell-screen {
		margin-top: 15px;
		padding: 4px;
		letter-spacing: 1px;
		width: 100%;
		height: 90%;
		color: white;
		background-color: #282d35;
		overflow: hidden;
		
		.shell-text{
			font-size: 1.4em;
			letter-spacing: 2px;
		}
		.shell-text::before{
			content: "> ";
		}
		  
		.shelk-screen div:after{
			content: "|";
			margin-left: 5px;
			animation: blink 500ms linear infinite alternate;
		}
	}
}
