
@mixin flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes flicker {
    
	0%, 18%, 22%, 25%, 53%, 57%, 100% {
  
		text-shadow:
		0 0 4px #fff,
		0 0 10px #fff,
		0 0 38px #f09,
		0 0 73px #f09,
		0 0 80px #f09,
	}
	
	20%, 24%, 55% {        
		text-shadow: none;
	}    
}

@keyframes pulsate {

	100% {
		text-shadow:
		0 0 4px #fff,
		0 0 11px #fff,
		0 0 22px #f09,
		0 0 44px #f09,
		0 0 50px #f09,
	}
	
	0% {
	  text-shadow:
	  0 0 4px #fff,
	  0 0 13px #fff,
	  0 0 28px #f09,
	  0 0 55px #f09,
	  0 0 30px #f09,
	}
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	background: rgb(44, 0, 30);
}

body {
	width: 100%;
	height: 80%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;

	.head {
		width: 100%;
		height: 50%;
		font-family: 'Vibur', cursive;
		@include flex-center();
		flex-direction: column;

		h1 {
			font-size: 100px;
			animation: flicker 1.5s infinite alternate;
		}
	
		h3 {
			font-size: 25px;
			animation: pulsate 0.1s ease-in-out infinite alternate;  
		}
	
		.neon {
			color: white;
			letter-spacing: 3px;
			margin-top: 30px;
			letter-spacing: 3px;
		}

		form {
			font-family: 'Vibur', cursive;
			margin-top: 100px;
			@include flex-center();
			flex-direction: column;
			
			
			input {
				border: none;
				outline: none;
			}
			input[type=number] {
				font-family: 'Vibur', cursive;
				padding: 0 15px;
				font-size: 20px;
				width: 310px;
				height: 40px;
				border-radius: 20px;
				box-shadow: 0 0 15px #fff;
				background-color: #282d35;
				color: white;

				-moz-appearance: textfield; // Hide arrows on Firefox

				// Hide arrows on Chrome, Safari, Edge & Opera
				&::-webkit-outer-spin-button,
				&::-webkit-inner-spin-button {
					-webkit-appearance: none;
					margin: 0;
				}
			}
			input[type=submit] {
				font-family: 'Vibur', cursive;
				font-size: 20px;
				margin-top: 40px;
				width: 100px;
				height: 30px;
				border-radius: 13px;
				background-color: #f09;
				color: white;
				box-shadow: 0 0 15px #fff;
				cursor: pointer;

				&:active {
					transform: scale(0.9);
				}
			}
		}
	}

	.shell-container {
		@include flex-center();
		margin-top: auto;
		width: 50%;
		min-width: 800px;
		height: 500px;
		color: white;
		background-color: #282d35;
		border-radius: 12px;
		overflow: hidden;
	}

	.toolbar {
		height: 98%;
		width: 99%;
		padding: 5px;
		.dot {	
			height: 20px;
			width: 20px;
			margin-right: 5px;
			border-radius: 50%;
			display: inline-block;
			&:hover {
				cursor: pointer;
				transform: scale(1.1);
			}
			&:active {
				transform: scale(1);
			}
		}

		.red {
			background-color: #ff5f58;
		}
		.yellow {
			background-color: #ffbd2e;
		}
		.green {
			background-color: #18c132;
		}
	}

	#shell-screen {
		margin-top: 15px;
		padding: 4px;
		letter-spacing: 1px;
		width: 100%;
		height: 90%;
		color: white;
		background-color: #282d35;
		overflow: hidden;

		.shell-start{
			font-size: 1.6em;
		}
		#shell-text{
			font-size: 1.4em;
			letter-spacing: 2px;
		}
		  
		.last{
			&:after {
				content: "|";
				margin-left: 5px;
				animation: blink 500ms linear infinite alternate;
			}
		}
	}
}
